{% extends "base.html" %}

{% block content %}


  <h2>Add new blog entry</h2>

  <form action="/newpost" method ="post">
    <style>
      label {
          margin-bottom: 5px;
          display: block;
          font-size: 18px;
          }
      body {
          padding: 50px;
          }
      form {
          padding: 20px;
          margin: 0 auto;
          width: 540px;
          font: 16px sans-serif;
          border-radius: 10px;
          }
      button {
          font-size: 16px;
          padding: 10px 20px;
          border: none;
          background-color: rgb(14, 199, 199);
          color: white;
          transition: background-color 250ms;
          }
      .error {color: red;}
    </style>
    <label>
      Entry Title:
      <input id = 'entry_title' name = "entry_title" type = "text"/>
    </label>
    <p class="error">{{ title_error_render }}</p>
    <textarea id = 'body' name = "body"></textarea>
    <p class="error">{{ body_error_render }}</p>
    <input type = "submit" value='Post new entry'/>
  </form>


  {% if error %}
    <p class='error'>{{ error }}</p>
  {% endif %}

{% endblock %}

